absl-py==0.10.0
actionlib==1.12.0
angles==1.9.12
appdirs==1.4.4
argon2-cffi==20.1.0
astor==0.8.1
attrs==20.1.0
backcall==0.2.0
bleach==3.1.5
blis==0.7.4
bondpy==1.8.5
camera-calibration==1.15.0
camera-calibration-parsers==1.11.13
catalogue==1.0.0
catkin==0.7.26
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
cmake==3.18.2.post1
controller-manager==0.18.1
controller-manager-msgs==0.18.1
cosine-annealing-warmup @ git+https://github.com/katsura-jp/pytorch-cosine-annealing-with-warmup@2958117072f214dce743f918d6a2253f682ab65d
cupy==7.8.0.post1
cv-bridge==1.13.0
cycler==0.10.0
cymem==2.0.5
dataclasses==0.6
de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-2.3.0/de_core_news_sm-2.3.0.tar.gz
decorator==4.4.2
defusedxml==0.6.0
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
dill==0.3.3
dynamic-reconfigure==1.6.3
einops==0.3.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
entrypoints==0.3
fastrlock==0.5
fivecentplots==0.4.0
future==0.18.2
gast==0.2.2
gazebo-plugins==2.8.7
gazebo-ros==2.8.7
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.12
google-pasta==0.2.0
grpcio==1.31.0
h5py==2.10.0
idna==2.10
image-geometry==1.13.0
importlib-metadata==1.7.0
intel-openmp==2020.0.133
interactive-markers==1.11.5
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
joint-state-publisher==1.12.15
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
kdl-parser-py==1.13.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
laser-geometry==1.6.5
lxml==4.5.2
Mako==1.1.3
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.1
message-filters==1.14.6
mistune==0.8.4
mkl==2019.0
mkl-include==2019.0
moveit-commander==1.0.4
moveit-ros-planning-interface==1.0.4
moveit-ros-visualization==1.0.4
msgpack==1.0.2
msgpack-numpy==0.4.7.1
msgpack-python==0.5.6
murmurhash==1.0.5
nbconvert==5.6.1
nbformat==5.0.7
ninja==1.10.0.post2
notebook==6.1.3
numpy==1.19.1
opencv-contrib-python==4.4.0.42
openni2-launch==0.4.2
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.1
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
plac==1.1.3
preshed==3.0.5
progressbar==2.5
prometheus-client==0.8.0
prompt-toolkit==3.0.6
protobuf==3.13.0
ptyprocess==0.6.0
pycparser==2.20
pycuda==2019.1.2
Pygments==2.6.1
pynvrtc==9.2
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
python-qt-binding==0.4.2
pytools==2020.4
pytorch-warmup==0.0.4
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
qt-dotgraph==0.4.1
qt-gui==0.4.1
qt-gui-cpp==0.4.1
qt-gui-py-common==0.4.1
qtconsole==4.7.6
QtPy==1.9.0
requests==2.24.0
resource-retriever==1.12.6
rosbag==1.14.6
rosboost-cfg==1.14.9
rosclean==1.14.9
roscreate==1.14.9
rosgraph==1.14.6
roslaunch==1.14.6
roslib==1.14.9
roslint==0.11.2
roslz4==1.14.6
rosmake==1.14.9
rosmaster==1.14.6
rosmsg==1.14.6
rosnode==1.14.6
rosparam==1.14.6
rospy==1.14.6
rosservice==1.14.6
rostest==1.14.6
rostopic==1.14.6
rosunit==1.14.9
roswtf==1.14.6
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui==0.5.1
rqt-gui-py==0.5.1
rqt-image-view==0.4.14
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.9
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.1
rqt-py-console==0.4.8
rqt-reconfigure==0.5.1
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.9
rqt-robot-steering==0.5.10
rqt-runtime-monitor==0.5.7
rqt-rviz==0.6.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rviz==1.13.12
scikit-learn==0.20.4
scipy==1.1.0
seaborn==0.10.1
Send2Trash==1.5.0
sensor-msgs==1.12.7
six==1.15.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.5
spacy==2.3.5
srdfdom==0.5.1
srsly==1.0.5
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.0
termcolor==1.1.0
terminado==0.9.2
testpath==0.4.4
tf==1.12.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
thinc==7.4.5
topic-tools==1.14.6
torch==1.7.1
torchsummary==1.5.1
torchtext==0.8.0
torchvision==0.8.0a0+c36dc43
tornado==6.0.4
tqdm==4.62.3
traitlets==4.3.3
typing-extensions==3.7.4.3
urdfdom-py==0.4.3
urllib3==1.25.10
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xacro==1.13.5
xlrd==1.2.0
zipp==3.1.0
